/*
Tiempo total: 8S
0    0s
0->1 2s
1->2 1S
2->3 0.5seg
3->4 2.5seg
4->5 2seg

*/

@keyframes doommove {
    0% {
        top: 100px;
        left: 0px;
    }
    25% {
        top:  0px;
        left: 100px;
    }
    37.5% {
        top: 200px;
    }
    43.75% {
        transform: scale(2);
    }
    75% {
        top: 100px;
        left: 200px;
        transform: skew(45deg);
    }
    100% {
        top: 100px;
        left: 0px;
    }
}
.ball-container{
    position:relative;
    margin:0 auto;
    background-color: black;
    width: 80%;
    height: 450px;
}
.doomball {
    position: absolute;
    top: 100px;
    left:0px;
    width : 240px;
    height: 240px;
    border-radius:50%;
    background-color: crimson;
    animation: doommove 8s;
    animation-play-state: running;
}